<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LibraryManagementSystem1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>pkg1.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    
 
 
   
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>pkg1.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudentServlet</display-name>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <servlet-class>pkg1.RegisterStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudentServlet</servlet-name>
    <url-pattern>/RegisterStudentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>IssuedBookServlet</display-name>
    <servlet-name>IssuedBookServlet</servlet-name>
    <servlet-class>pkg2.IssuedBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuedBookServlet</servlet-name>
    <url-pattern>/IssuedBookServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>pkg1.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>pkg2.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditBookServlet</display-name>
    <servlet-name>EditBookServlet</servlet-name>
    <servlet-class>pkg2.EditBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBookServlet</servlet-name>
    <url-pattern>/EditBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>pkg2.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/DeleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>pkg2.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>searchServlet_student</display-name>
    <servlet-name>searchServlet_student</servlet-name>
    <servlet-class>pkg2.searchServlet_student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchServlet_student</servlet-name>
    <url-pattern>/searchServlet_student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>pkg1.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/UpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    

    <description></description>
    <display-name>issueBookServlet</display-name>
    <servlet-name>issueBookServlet</servlet-name>
    <servlet-class>pkg2.issueBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>issueBookServlet</servlet-name>
    <url-pattern>/issueBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFineServlet</display-name>
    <servlet-name>addFineServlet</servlet-name>
    <servlet-class>pkg2.addFineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFineServlet</servlet-name>
    <url-pattern>/addFineServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>pkg2.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginServlet</display-name>
    <servlet-name>StaffLoginServlet</servlet-name>
    <servlet-class>pkg1.StaffLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginServlet</servlet-name>
    <url-pattern>/StaffLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>